.title {
    text-align: center;
    font-size: 2.5em;
    margin: 20px 0;
}

.middle-section {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.players {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto 0px auto;
    font-size: large;
    border-radius: 35px;
    border: 6px solid #333;
}

.players input {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    border-radius: 35px;
    text-align: center;
}

#player-one-side {
    background-color: rgba(0, 183, 255, 0.744);
}

#player-two-side {
    background-color: #db413ebc;
}

.Gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: fit-content;
    border: 3px solid #333;
    background-color: #14060618;
    padding: 10px;
}

.Gameboard div {
    background: #f9f9f9;
    border: 2px solid #333;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}

.Gameboard div:hover {
    background: #f9f9f90d;
    cursor: pointer;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.message {
    font-size: 1.5em;
    margin: 10px;
}

.bottom-section button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

.bottom-section button:hover {
    background: #333;
    color: white;
}